---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<!-- Lab description - Edit here for changing text for the main page -->
<div class="jumbotron">
    <p>
We are a team of researchers specializing in parallel computing, compilers, and programming languages. We are particularly interested in exploring compiler and runtime techniques to facilitate the development of high-performance and parallel programs for data-intensive and machine-learning applications. We are part of the Computer Science Department at the University of Iowa.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts %}
        {% include news-item.html item=post %}
        {% endfor %}
            {% assign numposts = site.posts | size %}
    </ul>

</section>

<!-- Disabling research project section from the home page -->
<!-- <section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section> -->

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>


<h2>Funding</h2>
<p>
Our work is supported by the National Science Foundation, the University of Iowa, and the Department of Energy. 
</p>
