---
layout: default
title: Research Projects
---
<p>
    Massive data are being generated and collected at an unprecedented rate nowadays. Analyzing and learning from data requires substantial computational resources. To keep up with the high computational demand, both computer systems and algorithms are evolving.
</p>
<p>
Computer systems have become heterogeneous in the past decade, incorporating specialized hardware such as GPUs to improve computing capacity. Unlike a traditional CPU-DRAM system, where the hardware and operating system manage the cache and memory, user programs on a heterogeneous system need to move data across the memory hierarchy explicitly. This significantly increases the programming complexity.
</p>
<p>
Meanwhile, algorithms become uncertain. Statistical algorithms (e.g., deep learning) work with noisy data and inherently have uncertainty. Randomness can also be intentionally added to algorithms to reduce computation costs. This uncertainty creates a tradeoff between accuracy and efficiency, requiring careful algorithm configuration to achieve the optimal balance.
</p>
<p>
Our group focuses on developing scalable and intelligent data-intensive systems on emerging heterogeneous hardware. To achieve this goal, we explore research that spans multiple layers of the system stack, from algorithms to compilers and hardware.
</p>

<div class="card-columns">
    {% comment %}
    Sort the projects by date, putting those without dates last
    {% endcomment %}
    {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
    {% assign projects_by_date = projects_by_date | reverse %}
    {% for p in projects_by_date %}
        {% include project-card.html project=p %}
    {% endfor %}
</div>
