---
layout: default
title: Research Projects
---
<p>
Our research delves into the intersection of software engineering, security and machine learning. While machine learning-based techniques have been widely applied in security domains, being able to explain the rationale behind their decision making process remains as a largely open problem. The inherent nature of security research requires us to understand the intrinsic characteristics of a neural network model instead of just parts of model behaviors. Our research is motivated to explain the rationale behind decision making process of machine learning-based techniques in security domains.
</p>

<div class="card-columns">
    {% comment %}
    Sort the projects by date, putting those without dates last
    {% endcomment %}
    {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
    {% assign projects_by_date = projects_by_date | reverse %}
    {% for p in projects_by_date %}
        {% include project-card.html project=p %}
    {% endfor %}
</div>
