<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				ILFO: Adversarial Attack on Adaptive Neural Networks.
			</span><br />
			<span class="authors">
				Mirazul Haque, Anki Chauhan, Cong Liu, and Wei Yang.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Conf. on Computer Vision & Pattern Recognition</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/document/8952382">MalScan: Fast Market-Wide Mobile Malware Scanning by Social-Network Centrality Analysis</a>.
			</span><br />
			<span class="authors">
				Y. Wu, X. Li, D. Zou, W. Yang, X. Zhang, and H. Jin.
			</span><br />
			<span class="venuetype"></span><span class="venue">In the 34th IEEE/ACM International Conference on Automated Software Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
